.footer{

  bottom: 0px;
  position:fixed;
  width: 100%;
  height: 148px;

  display:inline-block;
  background-color: #111111;

}

.footer-img{
  width: 69.71px;
  height: 14px;
  left: 64px;
  padding-left: 10px;
  padding-right: 10px;
  bottom: 70px;
  top: 82px ;
  background: #FFFFFF;
}

.privacy-policy{
  width: 90px;
  height: 24px;
  top: 1542px;
  left:999px;
  bottom: 78px;

  font-weight: 500px;
  font-size: 14px;
  line-height: 24px;
  text-decoration-line: underline;
  font-stretch: 100;
  color: #FFFFFF;
}

.terms{
  width: 86px;
  height: 24px;
  left: 1129px;
  bottom: 78px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  text-decoration-line: underline;
  font-stretch: 100;
  color: #FFFFFF;
}
