.mat-form-field{
  width: 350px;
  height: 70px;
   // background-color: #5f5c5c;

}



// ::ng-deep .mat-form-field .mat-form-field {
//     background-color: #464444;
//   }



.sort-label-1{
  color: #5f5c5c;
}
.sort-label-2{
  color: #f1eeee;
}
.mat-mdc-text-field-wrapper{
padding-top: 20px;
padding: 20px;
}
.search-icon{
  color: #ffffff;
}
.filter-icon{
  color: #ffffff;
}
.filter-button{
  background-color: #5f5c5c;
}
.search-button{
  background-color: #5f5c5c;
}
.sort{
  margin-left: 200px;
  float: left;
  margin-top:40px ;
}
.search{
  margin-left: 50px;
  float: left;
  color: #ffffff;
}
.filter{
  margin-left: 50px;
  float: left;
  color: #ffffff;
}
.project_div{
  //width: 1280px;
  float: left;
  width: 20%;
// align-items: left;
margin-left: 60px ;
// margin-right: 600px;

//   left:0px;
//   top:0px;
  // margin-left: 40px;
  // margin-top: 50px;
  // padding-top: 20px;
  // padding-left: 60px;
  // margin: 40px;
  //background-color: rgb(29, 27, 27);
  //display:inline-block;
}

.parent_div{
  margin-left:10px ;
  margin-right: 10px;
  // padding-left: 10px;
  // padding-right: 10px;
}

h3{
  // width: 130px;
  // height: 48px;
  // top: 82px;
  // left: 64px;
  font-weight: 700;
  font-size: 32px;
  // line-height: 48px;
  color: #ffffff;
  margin: 0px;
  // margin-right: 472px;
  line-height: 3;
  // position: relative;
  font-style:normal ;
  // padding-left: 40px;
  // margin-top: 30px;
}

// .sort{
//   width: 332px;
//   height: 40px;
//   top:88px;
//   left: 609px;
//   radius: 2px;
//   color: #454443;
//   margin: 50px;

// }

.row{
  // display: block;
  // flex:auto;
  width: 100%;
  height: 120px;
  margin-top: 0px;
  //  margin-top: 10px;
    background-color: rgb(29, 27, 27);
}


