.add-project-button{
  float: right;
  background-color: #0a1acf;
  height: 40px;
  color: #f1eeee;
  // margin-right: 20px;

}
.add-project{
  padding-top: 40px;
  margin-right: 40px;
}

.sort-label-1 {
  color: #f1eeee;
}
.sort-label-2 {
  color: #f1eeee;
}

.search-icon {
  color: #ffffff;
}
.filter-icon {
  color: #ffffff;
}
.filter-button {
  background-color: #5f5c5c;
  height: 40px;
}
.search-button {
  background-color: #5f5c5c;
  height: 40px;
}

.search {
  color: #ffffff;
  float: right;
  // margin-top: 40px;
  margin-right: 20px;
}
.filter {
  float: right;
  color: #ffffff;
  // margin-top: 40px;
  margin-right: 20px;
}
.project_div {
  float: left;
  width: 20%;
  margin-left: 60px;
}

.parent_div {
  margin-left: 10px;
  margin-right: 10px;
}

h3 {
  font-weight: 700;
  font-size: 32px;
  color: #ffffff;
  margin: 0px;
  line-height: 3;
  font-style: normal;
}


.row {
  width: 100%;
  height: 120px;
  margin-top: 0px;
  background-color: rgb(29, 27, 27);
}

.mat-box-new {
  margin-right: 20px;
  float: right;
  // margin-top: 40px;
}

mat-form-field {
  width: 350px;
  height: 70px;
}

::ng-deep .mat-mdc-form-field-infix {
  background-color: #5f5c5c;
}

::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: #5f5c5c;
}


