<div class="parent_div">
  <app-layout></app-layout>
  <div class="row">
    <div class="project_div">
      <h3>Projects</h3>
    </div>
    <div class="sort">
      <mat-form-field class="mat-form-field" color="accent">
        <mat-label class="sort-label-1" 
          ><mat-icon
            aria-hidden="false"
            aria-label="sort icon"
            fontIcon="sort"
          ></mat-icon>
          Sort by: </mat-label
        ><mat-label class="sort-label-2">Last edited date decending</mat-label>
        <mat-select></mat-select>
      </mat-form-field>
    </div>
    <div class="search">
      <button mat-button class="search-button">
        <mat-icon
          class="search-icon"
          aria-hidden="false"
          aria-label="sort icon"
          fontIcon="search"
        >
        </mat-icon>
      </button>
      <!-- </div> -->
      <div class="filter">
        <button class="filter-button">
          <mat-icon
            class="search-icon"
            aria-hidden="false"
            aria-label="sort icon"
            fontIcon="filter_alt"
          >
          </mat-icon>
        </button>
      </div>
    </div>
    <!-- <app-project-cards></app-project-cards> -->
    <app-sdd-footer></app-sdd-footer>
  </div>
</div>
