.footer{
  bottom: 0px;
  position:fixed;
  width:100%;
  height: 148px;
  display:block;
  background-color: #111111;
}

.ancor-div{
  margin-left: 83px;
}

.parent-footer{
  float: right;
  margin-top: 50px;
  // padding-top: 50px;
  margin-right: 70px;
}

.footer-img{
  width: 69.71px;
  // height: 14px;
  // left: 64px;
  padding-top: 65px;
  padding-left: 64px;
  // padding-right: 10px;
  bottom: 70px;
  top: 82px ;
  // padding-top:1560px;
}
// .parent-footer{
// // clear: left;
// }
.ancor{
  // position: absolute;
  // width: 90px;
  // height: 54px;
  margin: 20px;
  // float: right;
  // clear: right;
  // top: 1542px;
  // width: 91px;
  // height: 20px;
  // padding-top: 30px;
  // padding-left:999px;
  // padding-left:800px;
  //padding-right: 20px;
  // bottom: 78px;
  font-weight: 500px;
  font-size: 14px;
  line-height: 20px;
  text-decoration-line: underline;
  font-stretch: 100;
  color: #FFFFFF;
}

.privacy-policy{
  position: absolute;
  width: 90px;
  height: 24px;
  // top: 1542px;
  // padding-left:999px;
  padding-left:800px;
  bottom: 78px;
  font-weight: 500px;
  font-size: 14px;
  line-height: 24px;
  text-decoration-line: underline;
  font-stretch: 100;
  color: #FFFFFF;
}
.terms{
  position: absolute;
  width: 90px;
  height: 24px;
  // top: 1542px;
  // padding-left:1129px;
  padding-left:920px;
  bottom: 78px;
  font-weight: 500px;
  font-size: 14px;
  line-height: 24px;
  text-decoration-line: underline;
  font-stretch: 100;
  color: #FFFFFF;
}


// .terms{
//   width: 86px;
//   top: 1542px;

//   height: 24px;
//   padding-left: 1129px;
//   bottom: 78px;
//   font-style: normal;
//   font-weight: 500;
//   font-size: 14px;
//   line-height: 24px;
//   text-decoration-line: underline;
//   font-stretch: 100;
//   color: #FFFFFF;
// }

.copyright{
  // top: 1574px;
  // left:837px;
  // width: 378px;
  // height: 24px;
  // float: right;
  // padding-left: 837px;
  // padding-left:600px;
  // padding-top:78px ;
  // bottom: 46px;
  // margin-right: 60px;
  font-family: open Sans;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  color: #97999B;
}
